<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Tranquillo - All about football</title>
  <!-- Favicon -->
  <link href="/static/assets/img/icons/logo.png" rel="icon" type="image/png">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- Icons -->
  <link href="/static/assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">
  <link href="/static/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <!-- Argon CSS -->
  <link type="text/css" href="/static/assets/css/argon.css?v=1.0.1" rel="stylesheet">

  <style type="text/css">
    th {
      background-color: #212121;
      color: white;
    }
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
  </style>

</head>

<body>
  <header class="header-global">
    <div class="container-custom">
      <div class="p-3">
        <div class="p-3">
		<a class="navbar-brand" href="/">
		    <img src="/static/assets/img/icons/logo.png" style="height: 120px">
		  </a>
		</div>
	  </div>
    </div>
  </header>
  <main>
    <section class="bg-search2">
      <div class="container-custom">
        <div class="col-sm-12 offset-sm-0 col-lg-8 offset-lg-2">
          <h3 class="font-weight-bold" style="text-align: left;color: #212121;">Result from {{input|safe}}</h2>
          <br/>
        </div>
        <div class="col-sm-12 offset-sm-0 col-lg-8 offset-lg-2">
          <div class="table-responsive">
            <table>
              {%if table == "No Result" %}
                <div>No Result</div>
              {%else%}
                {%for i in range(0, len-1)%}   
                  <tr>
                    <td class="font-weight-bold">{{var[i]}}</td>
                    {% if i == 0 %}
                      <td><a href={{table[3]}}>{{table[i]}}</td> 
                    {% else %}
                      <td>{{table[i]}}</td> 
                    {% endif %}
                  </tr>
                {%endfor%}
              {%endif%}
            </table>
          </div>
        </div>
      </div>
    </section>
  </main>

  <!-- Core -->
  <script src="/static/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/static/assets/vendor/popper/popper.min.js"></script>
  <script src="/static/assets/vendor/bootstrap/bootstrap.min.js"></script>
  <script src="/static/assets/vendor/headroom/headroom.min.js"></script>
  <!-- Optional JS -->
  <script src="/static/assets/vendor/onscreen/onscreen.min.js"></script>
  <script src="/static/assets/vendor/nouislider/js/nouislider.min.js"></script>
  <script src="/static/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
  <!-- Argon JS -->
  <script src="/static/assets/js/argon.js?v=1.0.1"></script>
</body>

</html>
