<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Tranquillo - All about football</title>
  <!-- Favicon -->
  <link href="/static/assets/img/icons/logo.png" rel="icon" type="image/png">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- Icons -->
  <link href="/static/assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">
  <link href="/static/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <!-- Argon CSS -->
  <link type="text/css" href="/static/assets/css/argon.css?v=1.0.1" rel="stylesheet">
</head>

<body>
  <header class="header-global">
    <div class="container-custom">
      <div class="p-3">
        <div class="p-3">
		<a class="navbar-brand" href="/">
		    <img src="/static/assets/img/icons/logo.png" style="height: 120px">
		  </a>
		</div>
	  </div>
    </div>
  </header>
  <main>
    <section class="bg-search2">
      <div class="container-custom">
        <div class="col-sm-12 offset-sm-2 col-lg-6 offset-lg-3">
          <h2 class="font-weight-bold" style="text-align: center;color: #212121;">Enter your team name</h2>
          <br/>
          <form action="{{ url_for('hasil_data2') }}" method="post">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search" name="input">
              <span class="input-group-btn">
                <button class="btn btn-dark" type="submit">search</button>
              </span>
            </div><!-- /input-group -->
          </form>
		  <br/>
       </div>
      </div>
    </section>
  </main>

  <!-- Core -->
  <script src="/static/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/static/assets/vendor/popper/popper.min.js"></script>
  <script src="/static/assets/vendor/bootstrap/bootstrap.min.js"></script>
  <script src="/static/assets/vendor/headroom/headroom.min.js"></script>
  <!-- Optional JS -->
  <script src="/static/assets/vendor/onscreen/onscreen.min.js"></script>
  <script src="/static/assets/vendor/nouislider/js/nouislider.min.js"></script>
  <script src="/static/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
  <!-- Argon JS -->
  <script src="/static/assets/js/argon.js?v=1.0.1"></script>
</body>

</html>
